body{
    font-family: monospace;
    background-color: rgb(173, 230, 206);
  }
  
  .outputBox{
    min-height: 80px;
    width: 60%;
    margin-bottom: 10px;
    background-color: whitesmoke;
    padding: 5px;
  }
  
  button{
    background-color: whitesmoke;
    padding: 10px;
    font-family: monospace;
    border: none;
    
  }
  
  header{
    background: rgb(173, 230, 206);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Playwrite DE VA Guides", serif;
  }
  
  select{
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
  }
  
  input{
    padding: 10px;
    font-family: monospace;
  }
  
  .slider{
    width: 50%; 
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */ 
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  